In [2]:
import yfinance as yf
import pandas as pd

# Stock symbol
stock_symbol = "AAPL"

# Download stock data
data = yf.download(stock_symbol, start="2024-01-01", end="2024-06-01")

data.columns = data.columns.get_level_values(0)

print("\n===== FIRST 5 ROWS =====")
print(data.head())

print("\n===== LAST 5 ROWS =====")
print(data.tail())

print("\n===== DATA INFO =====")
print(data.info())

print("\n===== STATISTICAL SUMMARY =====")
print(data.describe())

[*********************100%***********************]  1 of 1 completed

===== FIRST 5 ROWS =====
Price            Close        High         Low        Open    Volume
Date
2024-01-02  183.903214  186.677021  182.169586  185.399081  82488700
2024-01-03  182.526245  184.141000  181.713909  182.496527  58414500
2024-01-04  180.208145  181.377098  179.187783  180.445890  71983600
2024-01-05  179.484940  181.050159  178.484394  180.287374  62379700
2024-01-08  183.823975  183.863609  179.801961  180.386437  59144500

===== LAST 5 ROWS =====
Price            Close        High         Low        Open    Volume
Date
2024-05-24  188.698349  189.294307  186.771434  187.546186  36327000
2024-05-28  188.708313  191.698002  187.824318  190.218048  52280100
2024-05-29  189.006287  190.953071  188.231550  188.330881  53068000
2024-05-30  189.999512  190.883507  189.343976  189.473088  49889100
2024-05-31  190.953049  191.270897  188.628838  190.148516  75158300

===== DATA INFO =====
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 105 entries, 2024-01-02 to 2024-05-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   105 non-null    float64
 1   High    105 non-null    float64
 2   Low     105 non-null    float64
 3   Open    105 non-null    float64
 4   Volume  105 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 4.9 KB
None

===== STATISTICAL SUMMARY =====
Price       Close        High         Low        Open        Volume
count  105.000000  105.000000  105.000000  105.000000  1.050000e+02
mean   178.719550  180.188205  177.301115  178.733766  6.061763e+07
std      8.500963    8.381982    8.386882    8.493860  2.068076e+07
min    163.664917  165.053583  162.752363  164.012054  3.464850e+07
25%    169.983383  172.016772  168.683963  170.360279  4.769170e+07
50%    180.844788  181.638268  179.187783  180.455769  5.370440e+07
75%    185.635681  187.143386  184.101351  185.399081  6.966880e+07
max    193.353958  194.542760  192.521837  193.591735  1.632241e+08

In [3]:
print("\n===== CLOSE PRICE ONLY =====")
print(data['Close'].head())

print("\n===== VOLUME ONLY =====")
print(data['Volume'].head())

===== CLOSE PRICE ONLY =====
Date
2024-01-02    183.903214
2024-01-03    182.526245
2024-01-04    180.208145
2024-01-05    179.484940
2024-01-08    183.823975
Name: Close, dtype: float64

===== VOLUME ONLY =====
Date
2024-01-02    82488700
2024-01-03    58414500
2024-01-04    71983600
2024-01-05    62379700
2024-01-08    59144500
Name: Volume, dtype: int64